@font-face {
    font-family: OpenSans;
    src: url("../font/OpenSans-VariableFont_wdth,wght.ttf");
}

body {
    padding: 0px;
    margin: 0px;
    top: 0px;
    display: grid;
    min-height: 100vh;
}

.header, .content, .footer {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
}

.header {
    display: grid;
    grid-template-columns: auto 32px;
}

.header-menu {
    display: grid;
    grid-template-columns: 120px auto;
}

.content {
    display: grid;
    grid-auto-flow: row;
    background: white;
}

.footer {
    padding-top: 16px;
    background: #000000;
    color: #7a7a7a;
}

.footer_content {
    padding-top: 8px;
    display: grid;
    grid-auto-flow: column;
}

.footer_content p {
    text-align: right;
}

h1, h2, h3 {
    font-family: OpenSans, serif;
}

h1 {
    font-weight: normal;
}

p, a {
    font-family: OpenSans, serif;
}

p {
    font-size: large;
    font-weight: lighter;
}

a {
    color: #0095ff;
}

.std_button {
    font-size: 18px;
    font-weight: lighter;
    font-family: OpenSans, serif;
    background: black;
    color: white;
    margin: 0px 0px;

    padding: 15px 45px;
    border-radius: 10px;
    border: none;
}

.std_button:hover {
    margin: -2px -5px -2px -5px;
    padding: 17px 50px;
    cursor: pointer;
    background: black;
}

.std_button:active {
    margin: 0px 0px;
    padding: 15px 45px;
    cursor: pointer;
    background: black;
}

#footer_logo {
    margin-top: 10px;
}

.header-menu-ul {
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

.menu-li {
    float: left;
}

.menu-li-logo {
    float: left;
    padding: 18px 32px 18px 0px;
}

.menu-li-logo img {
    margin-top: -2px;
}

.menu-li a {
    color: black;
    font-family: Avenir, serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 32px;
    white-space: nowrap;
    display: block;
    width: 100%;
    padding: 22px 42px 16px 42px;
}

.menu-li:hover {
    background: #eeeeee;
    text-decoration: underline black;
}

#content_welcome {
    font-family: OpenSans, serif;
    padding: 15px 25px 15px 60px;
    background: white;
    font-weight: lighter;
    margin-top: -68px;
}

#content_landing_img {
    background-image: url("../img/wp4853024.jpeg");
    padding-top: 2px;
    background-size: cover;
    height: 84vh;
    margin-right: -5.55%;
    margin-left: -5.55%;
}

#main_content {
    color: black;
}

#main_content_header {
    padding-left: 46px;
    font-weight: 500;
}

#main_content_description {
    padding-left: 46px;
    max-width: 1000px;
}

.content_grid {
    display: grid;
}

.content_col {
    margin: 0px 18px;
    padding: 28px;
}

.content_col img {
    width: 100%;
    border-radius: 5px;
}

.menu-ul-button {
    float: right;
    max-height: 68px;
    width: 32px;
    height: 68px;
    padding: 0;
    margin: 0;
    background-image: url("../img/burger@2x.png");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
    border: none;
}

.menu-ul-button:hover {
    cursor: pointer;
    opacity: 0.65;
}

@media (min-width: 850px) {


    .menu-li {
        float: left;
    }

    .menu-ul-button {
        display: none;
    }

    .header-menu-ul {
        display: inline;
    }

    #content_welcome {
        font-size:74px;
        width: 370px;
    }

}



@media (max-width: 850px) {

    .header-menu-ul {
        display: none;
    }

    .menu-li {
        float: none;
    }

    .menu-ul-button {
        display: inline;
    }

    #content_welcome {
        font-size:54px;
        width: 270px;
    }

}

@media (min-width: 950px) {

    #main_content {
        grid-template-columns: 33% 33% 33%;
    }

    .content_grid {
        grid-auto-flow: column;
    }

    .body {
        grid-template-rows: auto auto 128px;
    }
}

@media (max-width: 950px) {

    .content_grid {
        grid-auto-flow: row;
    }

    .body {
        grid-template-rows: auto auto 128px;
    }

}